// Colors
$primary-color: #e426eb; // Primary color (purple)
$primary-hover-color: #c218d8; // Hover color for primary elements (darker purple)
$link-color: cyan; // Link color (cyan)
$link-hover-color: magenta; // Link hover color (magenta)
$background: #1a1a1a; // Background color (dark gray)
$background-active: #333333; // Background color when navbar is active (darker gray)
$background-opacity: 0.6; // Background opacity (used for rgba)

$button-hover-color: #c218d8; // Button hover color (purple)
$button-active-color: #a015b5; // Button active color (darker purple)

// Fonts
$font-primary: 'Cascadia Code', 'Roboto', sans-serif; // Primary font family

// Shadows
$box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1); // Light box shadow for navbar
$box-shadow-hover: 0 0 10px #e426eb, 0 0 20px #e426eb, 0 0 30px #e426eb; // Button hover shadow

// Misc
$link-hover-text-shadow: 0 0 5px magenta; // Text shadow on link hover
$text-color: #fff; // Default text color (white)
