---

---
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<script>

window.AOS.init();
</script>
<style>
    .hljs {
  display: block;
  overflow-x: auto;
  background: #202746;
  color: #979db4;
  padding: 0.5em;
  -webkit-text-size-adjust: none; }
  </style>
<div data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom">
     <pre>
        <code class="hljs xml">
            alert("a");
        </code>
     </pre>
</div>