---
import Base from '../layouts/Base.astro';
const props = {
  title: "Chemical Example",
  description: "This is an example project for Chemical."
};
---

<Base {...props}>
    <aside transition:name="hero">

    <h1>Chemical Example</h1>
    <p>Create your own using <a href="https://github.com/chemicaljs/chemical">Chemical!</a></p>
    <input autofocus spellcheck="false" autocomplete="off" id="search" data-frame="web" data-auto-https data-search-engine="https://www.google.com/search?q=%s" placeholder="Search or Enter a URL" is="chemical-input">
    <select is="chemical-select" data-default-store="service">
        <option value="uv">Ultraviolet</option>
        <option value="rammerhead">Rammerhead</option>
        <option value="scramjet">Scramjet</option>
        <option value="meteor">Meteor</option>
    </select>
    <section id="controls" is="chemical-controls">
        <button onclick="chemicalAction('back', 'web')">Back</button>
        <button onclick="chemicalAction('forward', 'web')">Forward</button>
        <button onclick="chemicalAction('reload', 'web')">Reload</button>
        <button onclick="chemicalAction('close', 'web')">Close</button>
    </section>
    <iframe id="web" data-controls="controls" is="chemical-iframe"></iframe>
    </aside>
</Base>