---
import ProxyForm from "@components/ProxyForm.astro";
import Base from "../layouts/Base.astro";

const props = {
  title: "Aluben",
  description: "Testing for Aluben.",
  favicon: "https://google.com/favicon.ico",
};

const quotes = import.meta.glob("../assets/data/quotes.json", { eager: true });
const quotesData = (Object.values(quotes)[0] as { default: string[] }).default;
const randomQuote = quotesData[Math.floor(Math.random() * quotesData.length)];


---

<Base data-theme="rosepine" {...props}>
  <h1>Aluben</h1>
  <p class="quote">
    <Fragment set:html={randomQuote} />
  </p>
  <ProxyForm transition:persist />
</Base>
