---
import navbarStyles from "@styles/navbar.module.scss";
---

<nav transition:persist class={navbarStyles.navbar} id="navbar">
  <div id="logo" class={navbarStyles.logo}>Aluben</div>
  <div class={navbarStyles.links}>
    <a data-astro-prefetch href="/" class="navbar-link">Home</a>
    <a data-astro-prefetch href="/games" class="navbar-link">Games</a>
    <a data-astro-prefetch href="/plugins" class="navbar-link">Plugins</a>
  </div>
</nav>


