---
// ===========================
// STYLES
// ===========================

import baseStyles from "@styles/base.module.scss";
//import "@styles/globals.scss";

// ===========================
// COMPONENTS
// ===========================

import Navbar from "@components/Navbar.astro";
import Background from "@components/Background.astro";

// ===========================
// ASTRO / UTILITIES
// ===========================

import { ClientRouter } from "astro:transitions";

const { title, description, favicon } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <!-- Meta tags for SEO and responsiveness -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />

    <!-- Title and Favicon -->
    <title>{title}</title>
    <link rel="icon" type="image/png" href={favicon} />

    <!-- Client-Side Router -->
    <ClientRouter />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    
    <!-- Scripts -->
    <script async>
      self.CLF_config = {
        app_id: "b39da0fe-b3a8-4f71-a3ea-07baa4ab6689",
        data: {
          user_id: "123456", // required
          user_email: "user@email.com", // required
          user_name: "User Name", // optional
          custom_data: {
            JobRole: "CEO", // optional
            Plan: "Pro", // optional
            teamMates: "4", // optional
            MonthlySpend: "50 USD", // optional
          },
        },
      };
    </script>
    <script defer src="https://widget.changelogfy.com/index.js"></script>
  </head>
  <body transition:name="fade">
    <!-- Navbar Component -->
    <Navbar />

    <!-- Main Content Area -->
    <main class={baseStyles.main}>
      <slot />
    </main>

    <!-- not rly anythhing -->
    <Background />

    <!-- External Scripts -->
    <script src="@ts/plugins.ts"></script>
    <script src="@ts/events.ts"></script>
  </body>
</html>
